.full-img {
	margin: 0;
	text-align: center;
}
displayed-img {
	width: 100%;
}
.dark {
	margin-bottom: 15px;
}
.thumb-bar {
	width: 90%;
	position: absolute;
	margin: 5px;
	margin-left: 100px;
	overflow: hidden;
}
div.thumb-bar div {
	width: 15%;
	margin: -5px;
	display: inline-block;
}
.darkenImg {
	opacity: 0.8;
}